<header class="header">
    <a href="/" class="home-link"><h1>MOVIE RECOMMENDER | March 23rd, 2025</h1></a>
    <div>
      <a href="/watchlist" class="watchlist-link">WATCH LATER</a>
      <a href="/watched" class="watched-link">WATCHED</a>
    </div>
  </header>