<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
    <%- include("partials/header") %>
    <main class="main">
        <h1>MOVIE NIGHT?</h1>
        <h2>Let us know how you're feeling and choose a genre, we'll do the rest!</h2>
        <form action="/recommend" method="POST" class="form-container">
            <label for="mood">Mood:</label>
            <select name="mood" id="mood" class="categories">
                <option value="Exciting">Exciting</option>
                <option value="Feel-good">Feel-good</option>
                <option value="Mind-bending">Mind-Bending</option>
                <option value="Sad">Sad</option>
                <option value="Dark">Dark</option>
            </select>

            <label for="genre">Genre:</label>
            <select name="genre" id="genre" class="categories">
                <option value="Action">Action</option>
                <option value="Comedy">Comedy</option>
                <option value="Drama">Drama</option>
                <option value="Coming-of-Age">Coming-of-Age</option>
                <option value="Horror">Horror</option>
                <option value="Romance">Romance</option>
                <option value="Thriller">Thriller</option>
                <option value="Adventure">Adventure</option>
            </select>

            <button type="submit" class="submit-btn">Get Recommendation</button>
        </form>
        <form action="/surprise" method="POST">
            <button type="submit" class="submit-btn">Surprise Me!</button>
        </form>
    </main> 
</body>
<%- include("partials/footer") %>
</html>
